
  <header class="header-bar">
    <div class="logo">Blogweb</div>
    <div class="buttons">
      <form action="/" method="POST">
        <input type="submit" value="HOME" class="button">
      </form>
      <form action="/view" method="POST">
        <input type="submit" value="VIEW" class="button">
      </form>
      <form action="/create" method="POST">
        <input type="submit" value="CREATE" class="button">
      </form>
      <form action="/update" method="POST">
        <input type="submit" value="UPDATE" class="button">
      </form>
    </div>
  </header>

