<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogweb</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <%- include("header.ejs") %>
    <div class="maincontent">
        <h1>Welcome to Blogweb!</h1><br>
    <h2>What's on your mind?</h2>

    </div>
    

    <%- include("footer.ejs") %>
</body>
</html>